header {
  background-color: #fff;

  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  justify-content: center;

  padding: 92px 50px 96px 50px;
}

a {
  cursor: pointer;
}

.logoBlack {
  width: 130px;
  height: 105px;
  margin-left: 15px;
}

.navigationHeaderList {
  display: flex;
  gap: 32px;
  font-size: 18px;
  list-style-type: circle;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.withCircle {
  list-style-type: circle;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-style: normal;
}

.address > a {
  cursor: pointer;
  font-size: 18px;
}

.withPadding {
  padding-left: 184px;
}

.cover {
  min-height: 757px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 106px;
}

.coverTitle {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 165px;
}

.wordContainer {
  display: block;
  padding: 0px;
  font-size: 100px;
  font-weight: 700;
  color: white;

  text-transform: uppercase;
  line-height: 115%;

}

.left {
  align-self: flex-start;
  text-align: left;
  max-width: 286px;
}

.center {
  align-self: center;
  text-align: center;
  max-width: 339px;
}

.right {
  align-self: flex-end;
  text-align: right;
  max-width: 387px;
}

.coverTitle > span {
  display: inline-block;
  font-size: 100px;
  font-weight: 700;
  color: white;
  letter-spacing: 30px;
  text-transform: uppercase;
  line-height: 115%;
}

.coverSubtitle {
  display: flex;
  align-items: center;
  gap: 125px;
}

.coverSubtitle > h2 {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 15px;
  text-transform: uppercase;
  color: #fff;
}

.coverSubtitle > button {
  border: 1px solid #fff;
  width: 256px;
  height: 51px;

  text-transform: uppercase;
  font-size: 22px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

.lots {
  margin: 180px 24px 0px 24px;
}

.lots > h2 {
  font-size: 40px;
  text-transform: uppercase;
  padding-left: 40px;
  padding-bottom: 27px;
}

.lotsCardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
 
  padding-bottom: 30px;
}

.lotsCardListItem {
  list-style-type: none;
}

.lotsCardListItem > a {
  min-height: 596px;
  list-style-type: none;
  text-decoration: none;
  background-size: cover;
  padding: 48px 40px 48px 40px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.lotsCardListItemHeader {
  font-size: 22px;
  color: #fff;
  text-decoration: underline;
  text-transform: uppercase;
}

.cardTypeFilm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/card-lot-01.jpg");
}

.cardTypeBook {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/card-lot-02.jpg");
}

.cardTypePicture {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/card-lot-03.jpg");
}

.lotsLookMoreLink {
  padding-left: 40px;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;

  margin-top: 118px;
  padding-top: 35px;
  padding-left: 47px;
}

.about > div:nth-child(1) {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  margin-left: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutLogo {
  width: 142px;
  height: 113px;
}

.aboutDescription {
  padding-top: 98px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.aboutDescription > h2 {
  font-size: 40px;
  text-transform: uppercase;
  padding-bottom: 75px;
}

.aboutDescriptionText {
  display: flex;
  flex-direction: column;
  gap: 24px;

  padding-right: 5px;
}

.aboutDescriptionText > p {
  font-size: 20px;
  line-height: 24px;
}

footer {
  margin-top: 180px;
  padding-right: 50px;
  padding-left: 50px;
  margin-bottom: 82px;
  font-size: 18px;

  display: flex;
  justify-content: space-between;
}

.menuFooter {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
}

.socialFooter > a {
  width: 48px;
  height: 48px;
}

.socialFooter {
  display: flex;
  gap: 48px;
} 

.navigationFooterList {
  display: flex;
  list-style-type: none;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  gap: 3px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.underline {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.active {
  text-decoration: none;
}

.noCircle {
  list-style-type: none;
}
