header {
  height: 293px;
  background-color: #fff;

  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  justify-content: center;

  padding-left: 50px;
  padding-right: 50px;
}

header > a > img {
  width: 130px;
  height: 105px;
}

.navigationHeader {
  display: flex;
  gap: 26px;
}

.navigationHeader > li:nth-child(1) {
  list-style-type: none;
}

.withCircle {
  list-style-type: circle;
}

.addressHeader {
  padding-left: 184px;

  display: flex;
  flex-direction: column;
  gap: 3px;
}

.addressHeader > a {
  cursor: pointer;
  font-size: 18px;
}

.cover {
  min-height: 757px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/cover.jpg");
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.cover > span {
  position: absolute;
}

.cover > span:nth-child(1) {
  top: 165px;
  right: 764px;
  bottom: 477px;
  left: 50px;
}

.cover > span:nth-child(2) {
  top: 300px;
  right: 381px;
  bottom: 342px;
  left: 381px;
}

.cover > span:nth-child(3) {
  top: 435px;
  right: 50px;
  bottom: 207px;
  left: 663px;
}

.cover > span {
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
  color: white;
  text-transform: uppercase;
  line-height: 115%;
}

.cover > .coverSubtitle {
  display: flex;
  align-items: center;
  gap: 107px;

  position: absolute;
  bottom: 50px;
}

.cover > .coverSubtitle > h2 {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 15px;
  text-transform: uppercase;
  color: #fff;
}

.cover > .coverSubtitle > button {
  border: 1px solid #fff;
  width: 256px;
  height: 51px;

  text-transform: uppercase;
  font-size: 22px;
  color: #fff;
  background-color: transparent;
}

.lots {
  margin: 180px 24px 0px 24px;
  height: 723px;
}

.lots > h1 {
  font-size: 40px;
  text-transform: uppercase;
  padding-left: 40px;
  padding-bottom: 27px;
}

.lotsCardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;

  padding-bottom: 30px;
}

.lotsCardListItem {
  height: 596px;
  list-style-type: none;
  background-size: cover;
  padding: 48px 40px 48px 40px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.lotsCardListItem > h1 {
  font-size: 22px;
  color: #fff;
  text-decoration: underline;
  text-transform: uppercase;
}

.lotsCardListItem:nth-child(1) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/card-lot-01.jpg");
}

.lotsCardListItem:nth-child(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/card-lot-02.jpg");
}

.lotsCardListItem:nth-child(3) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/card-lot-03.jpg");
}

.lotsLookMoreLink {
  padding-left: 40px;
  font-size: 20px;
}

.about {
  display: grid;
  height: 595px;
  grid-template-columns: 334px 1fr;

  margin-top: 118px;
  padding-top: 35px;
  padding-left: 47px;
}

.about > div:nth-child(1) {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutLogo {
  width: 142px;
  height: 113px;
}

.aboutDescription {
  padding-top: 98px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aboutDescription > h1 {
  font-size: 40px;
  text-transform: uppercase;
}

.aboutDescriptionText {
  display: flex;
  flex-direction: column;
  gap: 24px;

  padding-right: 5px;
}

.aboutDescriptionText > p {
  font-size: 20px;
  line-height: 24px;
}

.addressFooter {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

footer {
  margin-top: 180px;
  padding-right: 50px;
  padding-left: 50px;
  margin-bottom: 82px;
  font-size: 18px;

  display: flex;
  justify-content: space-between;
}

.menuFooter {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
}

.socialFooter > img {
  width: 48px;
  height: 48px;
}

.socialFooter {
  display: flex;
  gap: 48px;
}

.underline {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}
